.ww{
    color: purple;
}
.ss{
    color: yellowgreen;
}
.anu{
    text-align: center;
}
.m{
    margin-left: 350px;
    margin-right: 350px;
}
.rr{
    text-align: center;
    color: blueviolet;
    font-weight: bold;
}
.kk{
    text-decoration: none;
    color: deeppink;
}
.ee{
    color: red;
    text-align: center;
}
.a{
    text-align: center;
    color: gold;
    
}
.h{
    text-decoration: none;
}