.ww{
    color: purple;
}
.bdy{
    background-color: white;
}
.ss{
    color: yellowgreen;
}
.anu{
    text-align: center;
}
.m{
    margin-left: 350px;
    margin-right: 350px;
}
.rr{
    text-align: center;
    color: blueviolet;
    font-weight: bold;
}
.rrrr{
    text-align: center;
    color: blueviolet;
    font-weight: bold;
    font-size: 15px;
}
.rrrrr{
    text-align: center;
    color: blueviolet;
    font-weight: bold;
    font-size: 14px;
}
.kk{
    text-decoration: none;
    color: deeppink;
    /* font-size: 15px; */
}
.ee{
    color: red;
    text-align: center;
}
.a{
    text-align: center;
    color: gold;
    
}
.h{
    text-decoration: none;
}